html { 
  background: url(galaxy.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sajb {
  background-color: #7abcff;
  background-size: 2rem;
  max-width: 15rem;
  color: whitesmoke;
  font-family: Anton;
  font-size: 4rem;
  fill: none;
  stroke: green;
  stroke-width: 2px;
  stroke-linejoin: round;
  text-shadow: #000 0px 0px 1px;
}

.sabj {
  color: whitesmoke;
  font-family: Anton;
  font-size: 2rem;
  fill: none;
  stroke: green;
  stroke-width: 2px;
  stroke-linejoin: round;
  text-shadow: #000 0px 0px 1px;
}

.babul {
  max-height: 8rem;
  max-widht: 8rem;
  margin: 10px;
  text-align: center;
  transition: all 1s;
  justify-content: center;
  background-size: 0px 0px;
  border-radius: 50px;
  border: 5px solid black;
}

.plm {
  color: whitesmoke;
  text-shadow: 100px;
  transition: all 1s;
  font-family: 'Orelega One', cursive;
  fill            : none;
  stroke          : black;
  stroke-width    : 10px;
  stroke-linejoin : round;
  animation       : 2s pulsate infinite;
  text-shadow: #000 0px 0px 5px;
  -webkit-font-smoothing: antialiased;
}

.bounce:active {
  display: inline-block;
  margin: 0 0.5rem;
  animation: headShake;
  animation-duration: 0.2s;
}


.babul:hover {
  transform: scale(1.1);
}

.buni {
  color: whitesmoke;
  text-shadow: 100px;
  transition: all 1s;
  font-family: 'Orelega One', cursive;
  fill            : none;
  stroke          : black;
  stroke-width    : 10px;
  stroke-linejoin : round;
  animation       : 2s pulsate infinite;
  text-shadow: #000 0px 0px 5px;
  -webkit-font-smoothing: antialiased;
}

.buni:hover {
  transform: scale(1.1);
}

.sibanji {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(galaxy.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.autorul {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(https://images.saymedia-content.com/.image/t_share/MTc4NzM1OTc4MzE0MzQzOTM1/how-to-create-cool-website-backgrounds-the-ultimate-guide.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.babul1 {
  max-height: 1000px;
  max-widht: 1000px;
  margin: 10px;
  text-align: center;
  transition: all 3s;
  justify-content: center;
  background-size: 0px 0px;
}

.babul1:hover {
  transform: scale(1.1);
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(galaxy.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.prost {
  background: url(bgrd.jpg) no-repeat center center fixed;
  max-width: 1000px;
  max_height: 1000px;
  background-size: cover;
}